# Building a Logistic Regression

Create a logistic regression based on the bank data provided. 

The data is based on the marketing campaign efforts of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a term deposit (variable y).

Note that the first column of the dataset is the index.

Source: [Moro et al., 2014] S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems, Elsevier, 62:22-31, June 2014

## Import the relevant libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set()

## Load the data

Load the ‘Example_bank_data.csv’ dataset.

In [3]:
raw_data = pd.read_csv('Example_bank_data.csv')

We want to know whether the bank marketing strategy was successful, so we need to transform the outcome variable into 0s and 1s in order to perform a logistic regression.

In [4]:
raw_data.head()

   Unnamed: 0  duration    y
0           0       117   no
1           1       274  yes
2           2       167   no
3           3       686  yes
4           4       157   no

In [5]:
raw_data.map([{'yes': 1, 'no' : 0}])

AttributeError: 'DataFrame' object has no attribute 'map'

### Declare the dependent and independent variables

### Simple Logistic Regression

Run the regression and visualize it on a scatter plot (no need to plot the line).